body, html {
    height: 100%;
    margin: 0;
    background-color: aquamarine;
    text-align: center;
  }
  
  .bg {
    background-image: url("images/newbackground.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .imgright {
    
    width: 100%;
    max-width: 400px;
    /* margin-left: 60%; */
    border-radius: 30px;
    border-color: aquamarine;
    border-style:groove;
    position:relative;
    border-width: 8px;
  }
  .imgleft {
    width: 100%;
    max-width: 400px;
    /* margin-right: 60%; */
    border-radius: 30px;
    position: relative;
    border-color: aquamarine;
    border-style: groove;
    border-width: 8px;
  }
  #header{
    text-align: center;
    background-color: lightblue;
    display:inline-block;
    height: fit-content;
    border-color: aquamarine;
    border-style: groove;
    border-width: 4px;
    font-size: xx-large;
    color: black;
    text-shadow: 2px 2px aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    position:sticky;
    
  }
  p {
    background-color: lightblue;
    display:inline-block;
    height: fit-content;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    border-color: aquamarine;
    border-style: groove;
    border-width: 8px;
    font-size: large;
    color: black;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .row {
    display:list-item;
    padding: 20px
  }
  .column {
    flex: 33.33%;
    padding: 10px;
}
.button {
  background-color:aquamarine;
  border-radius: 10px;
  position:sticky;
  border-color: aliceblue;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 20px;
}